  @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

  :root {
    --dark-gray: #c4c4c4;
    --pale-taupe: #B79975;
    --dark: #000000;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Mulish', sans-serif;


  }

  .container {
    max-width: 1440px;
    margin: 0 auto;

  }

  .container_nav {
    position: relative;
    top: 0;

  }

  .pattern_head {
    position: absolute;
    height: 407.24px;
    width: 674.18px;
    transform: scale(1, -1);
    top: -285px;
    right: 0;
    z-index: -1;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;

  }

  .text_dark {
    color: #000000;
  }

  .text_light {
    color: #ffffff;
  }

  .text1 {
    font-size: 36px;
    line-height: 45px;
  }

  .text2 {
    font-size: 28px;
    line-height: 35px;
  }

  .text3 {
    font-size: 20px;
    line-height: 30px;
  }

  .text4 {
    font-size: 14px;
    line-height: 18px;
  }

  .heading1 {
    font-size: 80px;
    line-height: 100px;
  }

  .heading2 {
    font-size: 64px;
    line-height: 80px;
  }


  .heading3 {
    font-size: 30px;
    line-height: 38px;
  }

  .fw4 {
    font-weight: 400;
  }

  .fw5 {
    font-weight: 500;
  }

  .fw6 {
    font-weight: 600;
  }

  .fw7 {
    font-weight: 700;
  }

  .logo_area {
    width: 271px;
    height: 162px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 45px;
    padding: 12px 26px;
  }

  .navigation ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }

  .navigation ul li a {
    text-decoration: none;
    color: var(--dark);
  }

  /* Branding area start */
  .branding_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: end;

  }

  .left_section {
    margin-right: 158PX;
  }

  .left_section h2 {
    margin-bottom: 25px;
  }

  .branding_links {
    margin-top: 100PX;
    margin-bottom: 10px;

  }

  .button_primary {
    text-decoration: none;
    background-color: var(--pale-taupe);
    padding: 14px 55px;
    border-radius: 45PX;
    margin-right: 15px;
  }

  .right_section {
    width: 610px;
    height: 677px;
    background: var(--dark-gray);
    position: relative;
    border-radius: 35px;
    box-shadow: 10px 16px 28px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .branding_image {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .cafe_likes {
    width: 214px;
    height: 256px;
    background: var(--pale-taupe);
    border-radius: 35px;
    position: absolute;
    right: 35px;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .cafe_likes p {
    padding-left: 19px;
  }

  /* Branding area End */

  /* about us section start*/
  .about_section {
    position: relative;
    margin-top: 200px;
  }

  .pattern_about {
    position: absolute;
    width: 407px;
    height: 674px;
    /* transform: rotate(90deg); */
    top: -85px;
    left: -157px;
  }

  .about_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 105px;
    width: 1112px;
  }

  .about_left {
    width: 528px;
    height: 562px;
    background: #C4C4C4;
    z-index: 2;
  }

  .about_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about_right h3 {
    margin-bottom: 26px;
  }

  .about_right p {
    margin-bottom: 109px;
  }

  /* about us section End*/

  /* slider and cafe section */
  .slider_cafe_section {
    position: relative;
    margin-top: 200px;
    margin-bottom: 50px;
  }

  .slider_cafe_bg {
    position: absolute;
    top: 70px;
    width: 100vw;
    left: 0px;
    right: 0px;
    z-index: -1;
  }

  .slider_heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 65px;
  }

  .slider_heading h2 {}

  .slider_heading a {
    text-decoration: none;
    color: #000000;
  }

  .wrapper {
    width: 100%;
    position: relative;
  }

  .slider_button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider_button.left_angle {
    left: -70px;
  }

  .slider_button.right_angle {
    right: -70px;
    transform: rotate(180deg);
  }

  .carousel {
    list-style: none;
    height: 504px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    gap: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0 15px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel.no-transition {
    scroll-behavior: auto;
  }

  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
    
  }

  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  

  .card {
    width: 373px;
    height: calc(100% - 30px);
    background: #FFFFFF;
    box-shadow: 4px 5px 25px rgba(0, 0, 0, 0.1);

  }

  .card_image {
    width: 373px;
    height: 312px;
    background: #C4C4C4;
  }

  .card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card_details {
    margin: 15px;
    margin-top: 50px;
  }

  .card_details h5 {
    margin-bottom: 10px;
  }

  .card_details .card_description {
    margin-bottom: 15px;
  }

  /* cafe space */
  .cafe_space {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .space_title {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .space_title p {
    color: #796666;
  }

  .left_image {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    background: #C4C4C4;
  }


  .middle_image {
    grid-row: 1/ span 3;
    grid-column: 3;
  }

  .top_image {
    grid-row: 1 / span 2;
    grid-column: 4;
  }

  .bottom_image {
    grid-row: 3;
    grid-column: 4;
  }


  .cafe_space img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .space_link {
    grid-column: 4;
    text-align: right;
  }

  .space_link a {
    text-decoration: none;
    color: var(--dark);
  }

  /* review section start */
  .review_section {
    margin-top: 200px;
  }

  .review_section > h2 {
    margin-bottom: 20px;
  }

  .review_content {
    position: relative;
    height: 524.05px;
    background: var(--pale-taupe);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .review_section_image {
    top: -450px;
    position: absolute;
    width: 100%;
    filter: brightness(1.3);
  }

  .review_wrapper{
    position: relative;
  }
  .carousel_comments{
    width: 1167px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    z-index: 2;
    border-radius: 56px;
  }
  .carousel_comments::-webkit-scrollbar {
    display: none;
  }

  .carousel_comments.no-transition {
    scroll-behavior: auto;
  }

  
  

  .comment_left_angle {
    left: 70px;
  }

  .comment_right_angle {
    right: 70px;
    transform: rotate(180deg);
    top: 45%;
  }
  
  .comments {
    width: 100%;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background: #FFFFFF;
    color: #796666;
  }

  /* footer */
  .footer_section {
    margin-top: 200px;
    background-color: var(--pale-taupe);
    padding: 50px 0;
    color: #FFFFFF;
  }

  .footer_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    justify-items: end;

  }

  .footer_top .logo_area {
    background: #d9d9d933;
    margin-bottom: 28px;
  }

  .footer_top .logo_area .logo {
    filter: invert(1);
  }

  .footer_top .para {
    font-size: 30px;
  }

  .footer_top .right {
    display: flex;
  }

  .footer_top .right .cafe_contact {
    margin: 0 30px;
  }

  .footer_top .right p {
    margin-bottom: 20px;
  }

  .footer_top div ul {
    list-style: none;
  }

  .footer_top div ul li {
    margin-bottom: 17.5px;
  }

  .footer_top div ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
  }


  .footer_bottom {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

  }

  .footer_bottom .copyright {}

  .footer_bottom .conditions {}

  .footer_bottom .conditions a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 59px;
  }
  